<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>uploadurlentrymap</servlet-name>
        <servlet-class>SaveCaptureResultsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadurlentrymap</servlet-name>
        <url-pattern>/uploadurlentrymap</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>geturlentrymap</servlet-name>
        <servlet-class>GetCaptureResultsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>geturlentrymap</servlet-name>
        <url-pattern>/geturlentrymap</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uploadcompareentry</servlet-name>
        <servlet-class>SaveCompareResultsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadcompareentry</servlet-name>
        <url-pattern>/uploadcompareentry</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getcompareresults</servlet-name>
        <servlet-class>GetCompareResultsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getcompareresults</servlet-name>
        <url-pattern>/getcompareresults</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>cleanup</servlet-name>
        <servlet-class>DbCleanUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cleanup</servlet-name>
        <url-pattern>/cleanup</url-pattern>
    </servlet-mapping>


</web-app>
